<html>
  <head>
    <title>糖丸，两栖旅⾏服务专家</title>
    <meta name="keywords" content="" />
		<meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/backgrounds.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/typography.css" />
    
    
  </head>

<body>
<div class="top">
  <img src="/static/img/top1.jpeg" alt="" class="center" width="100%"   >
</div>
<section class="bg-color-dark bg-pattern-diag">
	<div class="bg-image-white-light section-padding">
	  <article class="container carousel-container">
	    <div class="col3 cms-section-title">
			<h2 class="left color-white">趣玩川西</h2>
			<ul class="no-bullets right">
				<li class="has-icon"></li>
			</ul>
	                        
	        <div class="clearfix"></div>
	    </div>
	    <div class="cms-carousel carousel-14815455016662">
	    	<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 360px; margin: 0px; overflow: hidden;">
	    		<div class="carousel-handler">
	    			<div class="row left">
	    				<div class="col1">
	    					<div class="cms-item ">
		                        <a href="#" class="link" title="" target="_blank">
							            <div class="relative">
							                <img src="/static/img/key3_915_9293936.jpg" class="main-img scroll-loading" data-imagesrc="http://cdn-photos.zanadu.cn/resources/zanadu/hotel/91/key3_915_9293936.jpg!320x240" width="320" height="240">
		                                </div>
						                <div class="detail">
					               			 <div class="caption">
					                    		<h3 class="title" data-translation="Chatrium Hotel Royal Lake Yangon">察殿仰光皇家湖酒店</h3>
					                    		<div class="sub-title" data-translation="Yangon, Myanmar">缅甸, 仰光</div>
												<span class="hidden price">¥ 1,561 <small> / 晚起 (未来一个月中最低价格)</small></span>
			                        		</div>
			                				<div class="icons">
			                					<div class="round-icon right" title="限时折扣"><span class="icon-time"></span></div>
			                    				<div class="clearfix"></div>
						                	</div>
					            		</div>
					            </a>    
				        	</div>
                   		</div>
                   		<div class="col1">
                   			<div class="cms-item ">
		                        <a href="#" class="link" title="" target="_blank">
							            <div class="relative">
								                <img src="/static/img/key3_496.jpg" 
								                	class="main-img scroll-loading"
								                 	data-imagesrc="" height="240" width="320">
		                                        <div class="percent-recommended">
							                        <div class="cover"></div>
							                        <div class="recommended">
							                            <span>100</span>%
							                            <p>会员推荐</p>
							                        </div>
							                    </div>
			                              </div>
													
							            <div class="detail">
								                <div class="caption">
								                    <h3 class="title" data-translation="Maison Souvannaphoum Hotel">桑维纳方姆酒店</h3>
								                    <div class="sub-title" data-translation="LuangPrabang, Laos">老挝, 琅勃拉邦</div>
			                                        <span class="hidden price"><small> </small></span>
			                                    </div>
			                                    <div class="icons">
			                                    	<div class="round-icon right margin-left-5" title="酒店特价"><span class="icon-zanadu-bird"></span></div>
                                                	
			                                        <div class="clearfix"></div>
							                   </div>
							            </div>
					            	</a>    
            				</div>
                   		</div>
	    				<div class="col1">
    						 <div class="cms-item ">
                        		<a href="/hotel/855.html" class="link" title="Maia豪华度假酒店" target="_blank">
	            					<div class="relative">
	                					<img src="/static/img/key3_855_6732372.jpg" class="main-img scroll-loading"  height="240" width="320">
	                            	</div>
	
						            <div class="detail">
						                <div class="caption">
						                    <h3 class="title" data-translation="Maia Luxury Resort and Spa">Maia豪华度假酒店</h3>
						
						                    <div class="sub-title" data-translation="Mahé Island, Seychelles">塞舌尔, 马埃岛</div>
						
						                                            <span class="hidden price">¥ 9,784                            <small> / 晚起 (未来一个月中最低价格)</small>
						                        </span>
						                                    </div>
						                
						                <div class="icons">
						                                                                <div class="round-icon right" title="限时折扣"><span class="icon-time"></span></div>
						                                        <div class="clearfix"></div>
						                </div>
						            </div>
            					</a>    
	       					 </div>
	                    </div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </article>
	
	</div>
</section>


<section class="bg-color-dark-blue section-padding">
	<article class="container">
		<div class="col3 cms-section-title color-white">
            <h2 class="left">周末逃离</h2>
            <div class="clearfix"></div>
        </div>
        <div class="cms-row margin-bottom-20">
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="clearfix"></div>
        </div>
	</article>
</section>




<section class="bg-image-clouds section-padding">
	<article class="container">
		<div class="col3 cms-section-title color-white">
            <h2 class="left">其他产品</h2>
            <div class="clearfix"></div>
        </div>
        <div class="cms-row margin-bottom-20">
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="clearfix"></div>
        </div>
	</article>
</section>

<footer>
	<div class="btn-back-to-top back-to-top-absolute"></div>
	
	<section class="bg-color-white padding-top-20 footer_bg">
		<article class="container">
			<div class="col3 press">
				<div class="snippet">
                    <img src="/static/img/footer_title_logo.png" height="36" width="180">
                    <p>全球精品旅行体验 &amp; 生活方式</p>
                    <p>定制·酒店·别墅·邮轮·杂志</p>
                    <div class="clearfix"></div>
                </div>
                <div class="snippet">
	                <h4>中国 No.1 精品旅行预订网站</h4>
	
	                <p>中国首家虚拟现实 VR 旅行工作室</p>
	
	                <p>中国首家规模最大旅行体验店</p>
	
	                <div class="clearfix"></div>
	            </div>
	            <div class="snippet">
	
		            <p>《悦游 Conde Nast Traveler》2014 - 2016年“读者之选”最佳高端旅行社</p>
		
		            <p>《胡润百富》2014 - 2016年"中国出境游奢华旅行社总统奖"</p>
		
		            <div class="clearfix"></div>
		        </div>
	        
			</div>
			<div class="col3 contact">
				
				<div class="left has-tooltip">
                    <div class="iphone-qr">
                        
                    </div>
                </div>
				
				<div class="left social nav-section">
                    <h4>联系我们</h4>
                    <ul class="no-bullets">
                        <li>
                            <strong class="phone-number"><span>出境旅游:</span><a href="callto:021-6330-0350">021-6330-0350</a></strong><div class="clear"></div>
                        </li>
                        <li>
                            <strong class="phone-number"><span>国内短假/酒店：</span><a href="callto:4006-790-089">4006-790-089</a></strong><div class="clear"></div>
                        </li>
                        <li>
                            <strong class="phone-number"><span>广告合作：</span><a href="mailto:ad@zanadu.cn">ad@zanadu.cn</a></strong><div class="clear"></div>
                        </li>
                        <li><a href="mailto:info@zanadu.cn" class="color-gray">info@zanadu.cn</a></li>
                    </ul>
                </div>
				
				<div class="left nav-section">
                    <h4>赞那度微信开通</h4>
                    <ul class="no-bullets">
                        <li class="color-green">微信服务号 <span class="icon-wechat"></span></li>
                        <li>赞那度旅行顾问</li>
                        <li>旅行产品与服务</li>
                    </ul>
                    <ul class="no-bullets margin-top-20">
                        <li class="color-green">微信订阅号 <span class="icon-wechat"></span></li>
                        <li>赞那度旅行人生</li>
                        <li>旅行体验 &amp; 生活方式</li>
                    </ul>
                </div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</article>
		
	</section>
	
	<section class="bg-image-clouds copyright padding-top-40 padding-bottom-20 footer">
        <article class="container">
            <div class="center text-center">
                <p class="color-white">Copyright ZANADU赞那度 2011-2016 | 京ICP备 11041827号 | 
                	<a href="http://www.miitbeian.gov.cn" class="color-white" rel="nofollow">京ICP证120221</a> </p>
                <img src="/static/img/zanadu-logo-footer.png" alt="" height="67" width="72">
            </div>
        </article>
    </section>
</footer>




</body>

</html>