<html>
  <head>
    <title>糖丸，两栖旅⾏服务专家</title>
    <meta name="keywords" content="" />
		<meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/backgrounds.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/typography.css" />
    
    
  </head>

<body>
<div class="top" style="position: relative">
  <img src="/static/img/top2.jpg" alt="" class="center" width="100%"   >
  <div  style="position:absolute;top: 20px;left: 20px;z-index: 100;"><img src="/static/img/logo.jpg" ></div>
</div>
<section class="bg-color-dark bg-pattern-diag">
	<div class="bg-image-white-light section-padding">
	  <article class="container carousel-container">
	    <div class="col3 cms-section-title">
			<h2 class="left color-white">趣玩川西</h2>
			<ul class="no-bullets right">
				<li class="has-icon"></li>
			</ul>
	                        
	        <div class="clearfix"></div>
	    </div>
	    <div class="cms-carousel carousel-14815455016662">
	    	<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 360px; margin: 0px; overflow: hidden;">
	    		<div class="carousel-handler">
	    			<div class="row left">
	    				<div class="col1">
	    					<div class="cms-item ">
		                        <a href="javascipt:void(0)" onclick="return false;"  class="link" title="" target="_blank">
							            <div class="relative">
							                <img src="/static/img/key3_915_9293936.jpg" class="main-img scroll-loading" data-imagesrc="http://cdn-photos.zanadu.cn/resources/zanadu/hotel/91/key3_915_9293936.jpg!320x240" width="320" height="240">
		                                </div>
						                <div class="detail">
					               			 <div class="caption">
					                    		<h3 class="title" data-translation="Chatrium Hotel Royal Lake Yangon">糖丸趣骑线，入门级</h3>
					                    		<div class="sub-title" data-translation="Yangon, Myanmar">高原观星，深林穿越，骑行亚洲最大钙化流，两次近赏蜀山之王</div>
												<span  >出团时间：5月2日，6月3日，7月2日</span>
			                        		</div>
			                				<div class="icons">
			                					
			                    				<div class="clearfix"></div>
						                	</div>
					            		</div>
					            </a>    
				        	</div>
                   		</div>
                   		<div class="col1">
                   			<div class="cms-item ">
		                        <a href="javascipt:void(0)" onclick="return false;"  class="link" title="" target="_blank">
							            <div class="relative">
								                <img src="/static/img/key3_496.jpg" 
								                	class="main-img scroll-loading"
								                 	data-imagesrc="" height="240" width="320">
		                                        <div class="percent-recommended">
							                        <div class="cover"></div>
							                        <div class="recommended">
							                            <span>100</span>%
							                            <p>会员推荐</p>
							                        </div>
							                    </div>
			                              </div>
													
							            <div class="detail">
								                <div class="caption">
								                    <h3 class="title" data-translation="Maison Souvannaphoum Hotel">桑维纳方姆酒店</h3>
								                    <div class="sub-title" data-translation="LuangPrabang, Laos">老挝, 琅勃拉邦</div>
			                                        <span class="hidden price"><small> </small></span>
			                                    </div>
			                                    <div class="icons">
			                                        <div class="clearfix"></div>
							                   </div>
							            </div>
					            	</a>    
            				</div>
                   		</div>
	    				<div class="col1">
    						 <div class="cms-item ">
                        		<a href="javascipt:void(0)" onclick="return false;"  class="link" title="Maia豪华度假酒店" target="_blank">
	            					<div class="relative">
	                					<img src="/static/img/key3_855_6732372.jpg" class="main-img scroll-loading"  height="240" width="320">
	                            	</div>
	
						            <div class="detail">
						                <div class="caption">
						                    <h3 class="title" data-translation="Maia Luxury Resort and Spa">Maia豪华度假酒店</h3>
						
						                    <div class="sub-title" data-translation="Mahé Island, Seychelles">塞舌尔, 马埃岛</div>
					                    </div>
						                
						                <div class="icons">
                                       
						                                        <div class="clearfix"></div>
						                </div>
						            </div>
            					</a>    
	       					 </div>
	                    </div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </article>
	
	</div>
</section>


<section class="bg-color-dark-blue section-padding">
	<article class="container">
		<div class="col3 cms-section-title color-white">
            <h2 class="left">周末逃离</h2>
            <div class="clearfix"></div>
        </div>
        <div class="cms-row margin-bottom-20">
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="clearfix"></div>
        </div>
	</article>
</section>




<section class="bg-image-clouds section-padding">
	<article class="container">
		<div class="col3 cms-section-title color-white">
            <h2 class="left">其他产品</h2>
            <div class="clearfix"></div>
        </div>
        <div class="cms-row margin-bottom-20">
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="col1 equal-height" style="display: block; height: 350px;">
        		<div class="cms-item  bundle">
        			<a href="" class="link" title="" target="_blank">
			            <div class="image-wrapper relative">
							<div class="sale-tag-wrapper "></div>
			 	                <img src="/static/img/key3_2183_bundle.jpg" class="main-img scroll-loading" data-imagesrc="" height="240" width="320">
                	            <div class="sub-title-full" style="width: 300px;">深入墨尔本、悉尼，领略城市风光；走入亚拉河谷、蓝山国家公园、希斯维尔野生动物园，感受绝色自然；从汉密尔顿岛出发，零距离接触大堡礁缤纷色彩；丰富特色活动安排，感受别样澳大利亚。</div>
                            </div>
				            <div class="detail">
			                <div class="caption">
			                    <h3 class="title">【轻奢小团】2017春节澳大利亚10天8晚奢享惊喜之旅&mdash;&mdash;造访世外桃源 领略城市浪漫</h3>
			                </div>
			                <div class="extra"></div>       
			            </div>
		        	</a>
        		</div>
        	</div>
        	<div class="clearfix"></div>
        </div>
	</article>
</section>

<footer>
	
	
	<section class="bg-color-white padding-top-20 footer_bg">
		<article class="container">
			<div class="col3 press " style="padding:20px 0;">
				<div class="snippet" style="float: left;width: 400px;">
					<div style="height: 40px;"></div>
                    <div style="font-size: 32px;">towoon 糖丸</div>
                    <div style="height: 20px;"></div>
                    <p style="height: 30px;font-size: 16px;">运动旅行服务专家</p>
                    <p style="height: 60px;font-size: 16px;">轻运动，重体验</p>
		            <p style="font-size: 24px;">国内首家专注川西的运动旅行服务商</p>
		        </div>
		        <div style="float: right; width: 500px;">
		        	<img src="/static/img/code.jpg" />
		        </div>
		        <div class="clearfix"></div>
			</div>
			
			
		</article>
		
	</section>
	
	<section class="bg-image-clouds copyright padding-top-40 padding-bottom-20 footer">
        <article class="container">
            <div class="center text-center">
                <p class="color-white">Copyright  2011-2016 | 蜀ICP备16032865号-1 |  </p>
            </div>
        </article>
    </section>
</footer>




</body>

</html>