<html>
  <head>
    <title>糖丸，两栖旅⾏服务专家</title>
    <meta name="keywords" content="" />
		<meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/cms.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/backgrounds.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/typography.css" />
    
    
  </head>

<body>
<div class="top">
  <img src="/static/img/top1.jpeg" alt="" class="center" width="100%"   >
</div>
<section class="bg-color-dark-blue section-padding">
	<div class="bg-image-white-light section-padding">
	  <article class="container carousel-container">
	    <div class="col3 cms-section-title">
			<h2 class="left color-white">趣玩川西</h2>
			<ul class="no-bullets right">
				<li class="has-icon"></li>
			</ul>
	                        
	        <div class="clearfix"></div>
	    </div>
	    <div class="cms-carousel carousel-14815455016662">
	    	<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1020px; height: 360px; margin: 0px; overflow: hidden;">
	    		<div class="carousel-handler">
	    			<div class="row left">
	    				<div class="col1">
	    					<div class="cms-item ">
		                        <a href="/hotel/915.html" class="link" title="察殿仰光皇家湖酒店" target="_blank">
							            <div class="relative">
							                <img src="/static/img/key3_915_9293936.jpg" class="main-img scroll-loading" data-imagesrc="http://cdn-photos.zanadu.cn/resources/zanadu/hotel/91/key3_915_9293936.jpg!320x240" width="320" height="240">
		                                </div>
						
						                <div class="detail">
					               			 <div class="caption">
					                    		<h3 class="title" data-translation="Chatrium Hotel Royal Lake Yangon">察殿仰光皇家湖酒店</h3>
					                    		<div class="sub-title" data-translation="Yangon, Myanmar">缅甸, 仰光</div>
												<span class="hidden price">¥ 1,561 <small> / 晚起 (未来一个月中最低价格)</small></span>
			                        		</div>
			
			               
			                
			                				<div class="icons">
			                					<div class="round-icon right" title="限时折扣"><span class="icon-time"></span></div>
			                    				<div class="clearfix"></div>
						                	</div>
					            		</div>
					            </a>    
				        	</div>
                   		</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	  </article>
	
	</div>
</section>

</body>

</html>